{% extends 'base.html.twig' %}

{% block title %}Piece-Jointe Liste{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Piece-Jointes</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomFichier</th>
                <th>NomServer</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for piece_jointe in piece_jointes %}
            <tr>
                <td>{{ piece_jointe.id }}</td>
                <td>{{ piece_jointe.nomFichier }}</td>
                <td>{{ piece_jointe.nomServer }}</td>
                <td>{{ piece_jointe.reference }}</td>
                <td>
                    <a href="{{ path('piece_jointe_show', {'id': piece_jointe.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('piece_jointe_edit', {'id': piece_jointe.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(piece_jointes) }}
    </div>

    <a href="{{ path('piece_jointe_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
