{% extends 'base.html.twig' %}

{% block title %}Piece-Jointe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Piece-Jointe</h1>
    </div>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ piece_jointe.id }}</td>
            </tr>
            <tr>
                <td>NomFichier</td>
                <td>{{ piece_jointe.nomFichier }}</td>
            </tr>
            <tr>
                <td>NomServer</td>
                <td>{{ piece_jointe.nomServer }}</td>
            </tr>
            <tr>
                <td>Reference</td>
                <td>{{ piece_jointe.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('piece_jointe_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    <a href="{{ path('piece_jointe_edit', {'id': piece_jointe.id}) }}" class="btn btn-warning">Edition</a>
    <br><br>
    {{ include('piece_jointe/_delete_form.html.twig') }}
</div>
{% endblock %}
