{% extends 'base.html.twig' %}

{% block title %}Etats Liste{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Etats</h1>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.etat }}</td>
                <td>
                    <a href="{{ path('etats_show', {'id': etat.id}) }}" class="btn btn-warning">voir</a>
                    <a href="{{ path('etats_edit', {'id': etat.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(etats) }}
    </div>

    <a href="{{ path('etats_new') }}" class="btn btn-success">Créer</a>
</div>
{% endblock %}
