{{ form_start(form) }}
    {{ form_widget(form) }}
    <input name="upload_file" id="upload_file" type="hidden" value="{{ path('upload_file', {'ref': refpiecejointe}) }}">
    <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
