{% extends 'base.html.twig' %}

{% block title %}en attente de validation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des produits</h1>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Produit<s/trong></th>
                <th><strong>Désignation</strong></th>
                {# <th><strong>Date Saisie</strong></th>
                {# <th>DateValidation</th> #}
                {# <th><strong>Reférence</strong></th>
                {# <th>actions</th> #}
                <th><strong>Quantité restante</strong></th>
            </tr>
        </thead>
        <tbody>
        {% set myVal = 0 %}
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.produit }}</td>
                <td>{{ stock.produit.designation }}</td>
                {# <td>{{ stock.dateSaisie ? stock.dateSaisie|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ stock.dateValidation ? stock.dateValidation|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ stock.referencePanier }}</td>
                {# <td>
                    <a href="{{ path('validation', {'id': stock.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('stocks_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a>
                </td> #}
                <td>{{  rests[myVal] }}</td>
            </tr>
            {% set myVal = myVal + 1 %}
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(stocks) }}
    </div>

    <a href="{{ path('excel') }}" class="btn btn-primary">Exporter</a>
</div>
{% endblock %}
