{% extends 'base.html.twig' %}

{% block title %}en attente de validation{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des produits du reférence {{ reference }}</h1>
    </div>
    <hr>
    <h2><strong> - Projet : </strong>{{ projet }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Produit<s/trong></th>
                <th><strong>Désignation</strong></th>
                <th><strong>Quantite</strong></th>
                <th><strong>Mouvement</strong></th>
                <th><strong>Date Saisie</strong></th>
                {# <th>DateValidation</th> #}
                <th><strong>Reférence</strong></th>
                {# <th>actions</th> #}
                <th><strong>Disponible</strong></th>
            </tr>
        </thead>
        <tbody>
        {% set myVal = 0 %}
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.produit }}</td>
                <td>{{ stock.produit.designation }}</td>
                <td>{{ stock.quantite }} {{ stock.unite }}</td>
                <td>{{ stock.mouvement }}</td>
                <td>{{ stock.dateSaisie ? stock.dateSaisie|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ stock.dateValidation ? stock.dateValidation|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ stock.referencePanier }}</td>
                {# <td>
                    <a href="{{ path('validation', {'id': stock.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('stocks_edit', {'id': stock.id}) }}" class="btn btn-danger">edit</a>
                </td> #}
                <td>{{  rests[myVal] }}</td>
            </tr>
            {% set myVal = myVal + 1 %}
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouver!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(stocks) }}
    </div>
    <br><br>
    <a href="{{ path('valider', {'ref': reference}) }}" class="btn btn-primary">Valider</a>
    {# <a href="{{ path('modifier', {'ref': reference}) }}" class="btn btn-success">Modifier</a> #}
    <a href="{{ path('modifier', {'ref': reference}) }}" class="btn btn-success">Modifier</a>
    <a href="{{ path('annuler', {'ref': reference}) }}" class="btn btn-danger">Annuler</a>
</div>
{% endblock %}
